<div class="card shadow-sm col-md-6 mx-auto">
  <div class="card-header bg-white">
    <h4>Novo Veículo</h4>
  </div>

  <div class="card-body">

    <%= form_with(model: @veiculo, local: true) do |f| %>

      <div class="mb-3">
        <%= f.label :modelo, class: "form-label" %>
        <%= f.text_field :modelo, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :marca, class: "form-label" %>
        <%= f.text_field :marca, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :ano, class: "form-label" %>
        <%= f.number_field :ano, class: "form-control" %>
      </div>

      <div class="mb-3">
       <%= f.label :placa, class: "form-label" %>
       <%= f.text_field :placa, class: "form-control" %>
      </div>

      <div class="d-flex justify-content-end">
        <%= f.submit "Salvar", class: "btn btn-primary" %>
      </div>

    <% end %>

  </div>
</div>