<div class="vh-100 d-flex justify-content-center align-items-center bg-light">

  <div class="card shadow-lg p-4" style="width: 400px; border-radius: 15px;">

    <div class="text-center mb-4">
      <h3 class="fw-bold">Sistema Administrativo 🚗</h3>
      <p class="text-muted">Faça login para continuar</p>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="mb-3">
        <%= f.label :email, "Email", class: "form-label" %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, "Senha", class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="d-grid">
        <%= f.submit "Entrar", class: "btn btn-primary" %>
      </div>

    <% end %>

    <div class="text-center mt-3">
      <%= link_to "👤 Cadastrar Novo Usuário",
                  new_user_registration_path,
                  class: "btn btn-outline-secondary btn-sm" %>
    </div>

  </div>

</div>